html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    margin: 0;
    padding: 12px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
  }

#bhel-chat{
    margin: 0 auto;
    width: fit-content;
}

#chat-head{
    color: #e0e0e0;
    background-color: #003399;
}

#chat-container {
    width: 40vw;
    height: 60vh;
    border: 1px solid #ccc;
    overflow-y: scroll;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#chat-container>p {
    margin: 5px 0;
    /* padding: 5px; */
    border-radius: 5px;
}

#chat-container>p.user-message {
    max-width: 60%;
    align-self: flex-end;
    color: #e0e0e0;
    background-color: #003399;
    border-radius: 8px 8px 0 8px;
}

#chat-container>p.bot-message {
    max-width: 60%;
    align-self: flex-start;
    background-color: #e0e0e0;
    border-radius: 8px 8px 8px 0;
}

#message-form{
    width: 100%;
    display: flex;
    border: 1px solid #ccc;
}

#message-input{
    flex: 1;
}

#send{
    flex-shrink: 0;
    margin: auto 2px;
}