<!DOCTYPE html>
<html>

<head>
    <title>BHELmate</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;,">
    <link rel="stylesheet" href="static/style.css">
    <script src="static/script.js" defer></script>
</head>

<body>
    <h1>Chat with BHELmate</h1>
    <div id="bhel-chat">
        <div id="chat-head">
            BHELmate
        </div>
        <div id="chat-container">
            {% if result %}
            {% for message in result %}
            <p>{{ message }}</p>
            {% endfor %}
            {% endif %}
        </div>

        <form id="message-form" method="POST" action="/parse" autocomplete="off">
            <input type="text" name="messageText" id="message-input" placeholder="Type your message here">
            <input id="send" type="submit" value="Send">
        </form>
    </div>
</body>

</html>